

body{
    font-family: 'Montserrat', sans-serif;
    margin:0;

  }
  .btn {
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
   }
  
  .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
  .btn-1 {
    flex: 1 1 auto;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }
  
  